/*====================  原子类／其他  =======================*/

// 去掉输入框获取焦点时边框高亮
input:focus
  outline:0 !important

// 去掉输入区域边框阴影问题
input, textarea
  -webkit-appearance: none

*
  box-sizing: border-box

html
  -webkit-tap-highlight-color: rgba(0,0,0,0)

.f-w
  width: 100%

.f-h
  height: 100%


.f-clearfix:after
  display:block
  clear:both
  visibility:hidden
  height:0
  overflow:hidden
  content:"."

.f-clearfix
  zoom: 1

.f-fl
  float: left

.f-fr
  float: right

.f-ib
  display: inline-block

.f-pa
  position: absolute

.f-pr
  position: relative

.f-tc
  text-align: center

.f-p0
  padding: 0

.f-h-full
  height: 100%
 
.f-w-full
  width: 100% 

.f-m0
  margin: 0    

.f-ellipsis
  overflow:hidden
  white-space:nowrap
  text-overflow:ellipsis
  word-wrap:normal  

/*====================  方法函数  =======================*/
full = 100

r1($name, $attr)
  {$name} ($attr / full ) * 1rem

r2($name1, $attr1, $name2, $attr2)
  {$name1} ($attr1 / full) * 1rem
  {$name2} ($attr2 / full) * 1rem

r3($name, $attr1, $attr2)
  {$name} ($attr1) * 1rem ($attr2) * 1rem

body
  r1(font-size, 12)

*
  color: inherit

bg-pos($x, $y)
  background-repeat: no-repeat
  r3(background-position, $x, $y)
  
.slide-enter-active, .slide-leave-active 
    transition: .4s all
    transform: translate3d(0, 0, 0)
    -webkit-transform: translate3d(0, 0, 0)
.slide-enter, .slide-leave-active
    transform: translate3d(-100%, 0, 0)
    -webkit-transform: translate3d(-100%, 0, 0)
    

.animated.infinite
  animation-duration: 1s
  animation-fill-mode: both
  animation-iteration-count: infinite
  
@keyframes rotate
  from 
    transform: scale(1.1) rotateZ(0deg)
  
  50%
    transform: scale(.8) rotateZ(180deg)

  100% 
    transform: scale(1.1) rotateZ(360deg)


@-webkit-keyframes rotate
  from 
    transform: scale(1.1) rotateZ(0deg)
  
  50%
    transform: scale(.8) rotateZ(180deg)

  100% 
    transform: scale(1.1) rotateZ(360deg)    


@keyframes textanimate
  from 
    transform: translate3d(0, 50%, 0)
    opacity: 0

  100% 
    transform: translate3d(0, 0, 0)
    opacity: 1
    

@keyframes fade
  from 
    opacity: 0

  100% 
    opacity: 1




